<div class="home-container">
    <form class="form-wrapper" action="/artist-search" method="GET">
        <input class="input" type="text" name="artist">
        <button class="btn" type="submit">Search for an Artist</button>
    </form>
</div>
